.border {
  border: 1px lightgray solid;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-md {
  border-radius: 0.5rem;
}
.rounded-lg {
  border-radius: 0.75rem;
}
.rounded-circle {
  border-radius: 999999px;
}
@each $color in $colors {
  .border-#{$color} {
    border-color: #{$color};
  }
}
