.btn {
  padding: 0.55rem 1rem;
  border: 1px;
  border-radius: 0.5rem;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

$btnColors: (
  ("red", "crimson"),
  ("blue", "blue"),
  ("pink", "lightcoral"),
  ("green", "green")
);

@each $nom, $color in $btnColors {
  .btn-#{$nom} {
    background-color: #{$color};
  }
}
