.btn {
  padding: 0.55rem 1rem;
  border: 1px;
  border-radius: 0.5rem;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-size: large;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  cursor: pointer;
  &:hover{
    filter: brightness(80%);
  }
}
.btn-sm{
  padding: .3rem .5rem;
}

$btnColors: (
  ("red", "crimson"),
  ("blue", "blue"),
  ("pink", "lightcoral"),
  ("green", "green"),
  ("orange", "orange"),
  ("purple", "purple"),
);

@each $nom, $color in $btnColors {
  .btn-#{$nom} {
    background-color: #{$color};
  }
}
