.main-content {
  width: 100%;
  list-style: none;
}

.SearchBar{
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
}

.side-bar {
  height: 82vh;
  width: 20%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid lightgray;
}
.ordenar {
  margin-top: 10px;
  margin-left: 10px;
}
.categorias {
  margin-left: 10px;
}

.btn-filter {
  width: 100%;
  height: 50px;
  background: white;
  border: 1px solid lightgray;
  font-size: 18px;
  padding: 5px;
}
.btn-filter:hover {
  background-color: purple;
}

.proyectos-filtrados {
  width: 100%;
  border: 1px solid lightgray;
  margin: 10px 5px 0px 5px;
  text-overflow: ellipsis;
}
