// ESTILOS BASICOS
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// UTILIADES
.text-center {
  text-align: center;
}
.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fw-bold {
  font-weight: bold;
}
.val-error {
  color: red;
  display: flex;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  align-items: center;
  & svg {
    margin-right: 0.25rem;
  }
}
.whitespace-nowrap {
  white-space: nowrap;
}
.text-sm {
  font-size: 0.9rem;
}
.line-height {
  line-height: 1.5;
}

// COLORES DE TEXTO
@each $color in $colors {
  .text-#{$color} {
    color: #{$color};
  }
}
