// Display
@each $display in $displays {
  .#{$display} {
    display: #{$display};
  }
}
.grid {
  display: grid;
}
.sm-none {
  display: inherit;
}
@media (max-width: 640px) {
  .sm-none {
    display: none;
  }
}

$cols: ("1", "2", "3", "4", "5");
@each $col in $cols {
  .col-rows-#{$col} {
    grid-template-columns: repeat(#{$col}, 1fr);
  }
}
@media (max-width: 640px) {
  @each $col in $cols {
    .col-rows-#{$col} {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
@each $gap, $val in $sizes {
  .gap-#{$gap} {
    grid-gap: $val;
  }
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

// Margenes
@each $nom, $val in $sizes {
  .m-#{$nom} {
    margin: #{$val};
  }
  .mx-#{$nom} {
    margin-left: #{$val};
    margin-right: #{$val};
  }
  .my-#{$nom} {
    margin-top: #{$val};
    margin-bottom: #{$val};
  }
  .ml-#{$nom} {
    margin-left: #{$val};
  }
  .mr-#{$nom} {
    margin-right: #{$val};
  }
  .mt-#{$nom} {
    margin-top: #{$val};
  }
  .mb-#{$nom} {
    margin-bottom: #{$val};
  }
}

.ma {
  margin: auto;
}

// Padding
@each $nom, $val in $sizes {
  .p-#{$nom} {
    padding: #{$val};
  }
  .px-#{$nom} {
    padding-left: #{$val};
    padding-right: #{$val};
  }
  .py-#{$nom} {
    padding-top: #{$val};
    padding-bottom: #{$val};
  }
  .pl-#{$nom} {
    padding-left: #{$val};
  }
  .pr-#{$nom} {
    padding-right: #{$val};
  }
  .pt-#{$nom} {
    padding-top: #{$val};
  }
  .pb-#{$nom} {
    padding-bottom: #{$val};
  }
}

.nowrap {
  white-space: nowrap;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.dir-col {
  flex-direction: column;
}
.float-left {
  float: inline-start;
}
.float-right {
  float: inline-end;
}

// Tamaños =======================
$heightWidth: (
  ("1", 0.1rem),
  ("2", 0.25rem),
  ("3", 0.5rem),
  ("4", 1rem),
  ("5", 1.5rem),
  ("6", 2rem),
  ("7", 3rem),
  ("8", 3.5rem),
  ("9", 4rem),
  ("10", 5rem),
  ("11", 6rem),
  ("12", 7rem),
  ("13", 8rem),
  ("40", 40rem)
);
@each $nom, $val in $heightWidth {
  .h-#{$nom} {
    height: #{$val};
  }
  .w-#{$nom} {
    width: #{$val};
  }
}
.min-w-fit {
  min-width: fit-content;
}
.max-w-xs {
  max-width: 10rem;
}
.max-w-sm {
  max-width: 18rem;
}
.max-w-md {
  max-width: 32rem;
}
.max-w-lg {
  max-width: 44rem;
}
.max-w-xl {
  max-width: 60rem;
}
.max-w-2xl {
  max-width: 70rem;
}
.w-full {
  width: 100%;
}
.h-full {
  width: 100%;
}

// Sombras
.shadow-sm {
  box-shadow: 7px 7px 15px -6px rgba(0, 0, 0, 0.2);
}

// BACKGROUND
@each $color in $colors {
  .bg-#{$color} {
    background-color: #{$color};
  }
}

.pointer:hover {
  cursor: pointer;
}
