// Display
@each $display in $displays {
  .#{$display} {
    display: #{$display};
  }
}
.grid{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

// Margenes
@each $nom, $val in $sizes {
  .m-#{$nom} {
    margin: #{$val};
  }
  .mx-#{$nom} {
    margin-left: #{$val};
    margin-right: #{$val};
  }
  .my-#{$nom} {
    margin-top: #{$val};
    margin-bottom: #{$val};
  }
  .ml-#{$nom} {
    margin-left: #{$val};
  }
  .mr-#{$nom} {
    margin-right: #{$val};
  }
  .mt-#{$nom} {
    margin-top: #{$val};
  }
  .mb-#{$nom} {
    margin-bottom: #{$val};
  }
}

.ma{
  margin: auto;
}

// Padding
@each $nom, $val in $sizes {
  .p-#{$nom} {
    padding: #{$val};
  }
  .px-#{$nom} {
    padding-left: #{$val};
    padding-right: #{$val};
  }
  .py-#{$nom} {
    padding-top: #{$val};
    padding-bottom: #{$val};
  }
  .pl-#{$nom} {
    padding-left: #{$val};
  }
  .pr-#{$nom} {
    padding-right: #{$val};
  }
  .pt-#{$nom} {
    padding-top: #{$val};
  }
  .pb-#{$nom} {
    padding-bottom: #{$val};
  }
}

.nowrap{
  white-space: nowrap;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: right;
}
.justify-left {
  justify-content: left;
}
.align-center {
  align-items: center;
}
.dir-col {
  flex-direction: column;
}
.float-left{
  float: inline-start;
}
.float-right{
  float: inline-end;
}

// Tamaños =======================
$heightWidth: (
  ("1", 0.1rem),
  ("2", 0.25rem),
  ("3", 0.5rem),
  ("4", 1rem),
  ("5", 1.5rem),
  ("6", 2rem),
  ("7", 3rem),
  ("8", 18.9rem),
  ("9", 25rem)
);
@each $nom, $val in $heightWidth {
  .h-#{$nom} {
    height: #{$val};
  }
  .w-#{$nom} {
    width: #{$val};
  }
}
.max-w-sm {
  min-width: 18rem;
}
.w-full {
  width: 100%;
}

// Sombras
.shadow-sm {
  box-shadow: 7px 7px 15px -6px rgba(0, 0, 0, 0.2);
}
