$sizes: (
  ("0", 0rem),
  ("1", 0.25rem),
  ("2", 0.5rem),
  ("3", 1rem),
  ("4", 1.5rem),
  ("5", 3rem),
  ("6", 4rem),
  ("7", 5rem),
  ("8", 6rem),
  ("9", 7rem),
  ("10", 8rem),
  ("11", 9rem),
  ("12", 10rem),
  ("auto", auto)
);

$displays: (
  ("flex"),
  ("inline-flex"),
  ("block"),
  ("inline"),
  ("inline-block"),
  ("grid")
);

$colors: ("red", "blue", "pink", "green", "yellow", "gray", "black", "white");
